<div class="card">
  <div class="card-img-wrapper">
    <img *ngIf="property.img" class="card-img-top propImg" src="assets/images/{{property.img}}" alt="house">
    <img *ngIf="!property.img" class="card-img-top propImg" src="assets/images/{{property.img}}" alt="house">
    <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary"  routerLink='/property-detail/default.jpg'><i class="fas fa-edit"></i></button>
      </li>
      <li class="list-inline-item" >
        <button class="btn btn-secondary"><i class="fas fa-address-book"></i></button>
      </li>
    </ul>
  </div>

  <div class="card-body p-1">
    <h1>{{property.name}}</h1>
    <h2>{{property.type}}</h2>
    <h3>{{property.price}}</h3>


  </div>

</div>
